<link rel="apple-touch-icon" sizes="120x120" href="https://cdn.jsdelivr.net/gh/git-hulk/git-hulk.github.io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="https://cdn.jsdelivr.net/gh/git-hulk/git-hulk.github.io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="https://cdn.jsdelivr.net/gh/git-hulk/git-hulk.github.io/favicon-16x16.png">
<link rel="manifest" href="https://cdn.jsdelivr.net/gh/git-hulk/git-hulk.github.io/site.webmanifest">
<link rel="mask-icon" href="https://cdn.jsdelivr.net/gh/git-hulk/git-hulk.github.io/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
